@model List<Service>

@{
    ViewData["Title"] = "ServiceList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Servis Listesi</h2>

<table class="table table-borded">
    <tr>
        <th>#</th>
        <th>Konu</th>
        <th>Açıklama</th>        
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ServiceId</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            @if (item.Status == true)
            {
                <td><a href="/Service/ChangeIsStatusToFalse/@item.ServiceId" class="btn btn-dark">Durumu Pasif Olarak İşaretle</a></td>
            }
            else
            {
                <td><a href="/Service/ChangeIsStatusToTrue/@item.ServiceId" class="btn btn-info">Durumu Aktif Olarak İşaretle</a></td>
            }

            <td><a href="/Service/DeleteService/@item.ServiceId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Service/UpdateService/@item.ServiceId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Service/CreateService/" class="btn btn-primary">Yeni Deneyim Girişi</a>